/****************************************************************************************************************/
/*************************DEBUT DE LA PAGE ACCUEIL DE BLACKPINK**************************************************/
/****************************************************************************************************************/

/***************************PARTIE SERVANT A TOUTES LES PAGES **************************************************/

body{                               /*css concernant la page presentation**/
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}
#menu{                              /*partie servant à tous les parties et concernant le menue*/              
    padding: 0px;
    background:#212027;
    height: 12%;
    margin-top: 0%;
}
#menu_box label{
    color: white;
    float: left;
    margin-left: 2%;
    margin-top: 3%;
    display: block;
}
#menu_box input{
    float: left;
    margin-top: 3%;

}
#menu img{
    height: 90%;
    margin-right: 5%;
    float: right;

}
#navigation                     /*debut du css de la navigation s'applique pour toutes les pages*/
{
    height:100%;
    width:100%;
    margin-top: 0%;  
}
#navigation ul
{
    margin:0%;
    padding:0%;
    list-style:none;
    text-align:center;
}
#navigation li
{
    float:left;
    width: 16.4% ;
    background-color:rgb(91, 94, 104);
    margin-top: 0%;

}
#navigation li a
{
    display:block;
    width:100%;
    color:#F5F5F5;
    text-decoration:none;
    text-align:center;
    padding: 6% 5%;
    font-family: 'Julius Sans One', sans-serif;
    
}
#navigation ul li ul
{
    display:none;
}
#navigation ul li:hover ul
{
    display:block;
    width:100%;
    color:#F5F5F5;
    text-decoration:none;
    text-align:center;
}
#navigation ul li:hover ul li
{
    float: none;
}
#navigation li ul
{
    position:-10%;
    z-index:1;
}
#navigation a
{
    line-height:1.5;
    font-size:0.85em;
    font-family:Verdana,sans-serif;
    text-decoration:none;
    text-align: center;
}
#navigation li a:hover, #navigation ul li ul li a:hover
{
    color:#A90C83;
    background:white;
    padding: 5% 5%;

}                          

/***********************debut de la page accueil **********************************************************/

#accueil{   /*debut cs de la premiere page accueil*/
 
    background-image: url("Images/wallpaper_accueil.jpg");
    height: 100%;
    width: 100%;
    margin-top:-50%;
    background-size: cover;
    background-repeat: no-repeat;
}


#concert_page{                      /*pour s'applique pour toutes les pages */
    margin-top: -50%;
    width: 100%;
    height: 100%;
    background-color: #2b2b36;
    background-size: 100%;
}
.bp_font{
    color: white;
    text-align: center;
    font-size: 80px;
    padding-top: 15%;

    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;    
}
#bp_page{                         /*s'applique pour toutes les pages */
    margin-top: -50%;
    width: 100%;
    height: 100%;
    background-color: #2b2b36;
    background-size: 100%;

}
.area{                      /*pour le texte contenu qui s'applique pour toutes les pages */
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 1%;

    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;

}
.albums_name{               /*s'applique pour toutes les pages*/
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 1%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;

}

.news{                                             /*cela s'apllique à toutes les pages*/
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 1%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    float: left;
    margin-top: 3%;

}
#bas_page_presentation{             /*s'applique à toutes les pages*/
    width: 100%;
    height: 30%;
    background:  #e4ddea;
    margin-top: 6%;
}

footer{                     /*css pour le footer present dans tous les pages */
    width:  100%;
    height: 30%;
    background: #2b2b36;
}
.mention{
    color: white;
    text-align: center;
    padding: 2px 4px;
    
}
.BP_footer{
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
}
.auteurs{
    color: white;
    text-align: center;
    padding-top: 1%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
}                                           

/*******************************FIN DE LA PARTIE CONCERNANT TOUS LES PAGES***********************************/
/***************************debut de la page information de accueil***********************************/
#informations1{
    background: white;
    width: 100%;
    height: 100%;
}
#informations1 video{
    margin-left: 5%;
    margin-top: 3%;

}
#bas_page_presentation8{
    width: 30%;
    height: 100%;
    float: right;
    background-color: #e6e6ec;

}
#accueil video{
    margin-left: 27%;
    margin-top: 15%;
    
}
#accueil_presentation{
    font-size: 16px;
    padding: 5%;
    margin-top: 10%;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}
#accueil_presentation img{
    margin-top: 10%;
    margin-left: 25%;
}
#KILL{
    font-size: 50px;
    margin-left: 22%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    margin-top: 2%;
}

/**************************************************************************************************************/
/*************************************** FIN DE LA PAGE DU ACCUEIL**********************************************/
/***************************************************************************************************************/

/**************************************************************************************************************/
/**********************************DEBUT DE LA PAGE PRESENTATION ********************************************/
/***********************************************************************************************************/



#bas_page_presentation6{   
    width: 100%;
    height: 30%;
    background:  #e4ddea;
    margin-top: 10%;
}              

 /***********************************debut de la presentation du groupe blackpink**************************/

#blackpink_groupe{                     
    background-color: white;
    width: 100%;
    height: 100%;  
}



#informations-groupe{                   
    width: 30%;
    height: 100%;
    float: right;
    font-family: 'Raleway', sans-serif;
    background:#dad9e0;
}
#info_groupe{
    padding: 5%;
}
.bp_groupe_img{

    padding-top: 3%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 50px;
    text-align: center;
    width: 50%;

}
#blackpink_groupe img{
    margin-left: 3%;
    margin-top: 3%;
    box-shadow: 8px 8px 0px #aaa;

}
#blackpink_membre{
    width: 100%;
    height: 100%;
    background-color: #2b2b36;
}
p{
    float: left;
    margin-right: 8%;
    padding-left: 5%;

}
p:hover{
    color: palevioletred;
}
h2{
    top: 0%;
    color: black;
    padding-top: 0%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;

    font-size: 50px;
    margin-left: 2%;
}



 /*******************css fin de la première page de presentation ************************************************/
 /********************css debut concernant la page présentation des différents chanteuses********************/

 #rose{                     /*presentation de rose**/
    width: 100%;
    height: 100%;
    background-color: #2b2b36;

}
 #rose_info{               
    width: 20%;
    float: right;
    margin-right: 10%;
    text-align: justify;
    margin-top: 3%;
    opacity: 60%;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.rose_font{
    color: white;
    text-align: center;
    font-size: 80px;
    padding-top: 5%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
}
#rose img{
    margin-left: 5%;
    margin-top: 1%;
    border: 1px solid black;
}

#bas_page_presentation2{    /*s applique pour Jennie et Rose  */
    width: 30%;
    height: 100%;
    float: right;
    background:  #e4ddea;
}
/************************ presentation pour jennie **************************************************/

#jennie{                           
    width: 100%;
    height: 100%;
    background-color: #2b2b36;

}

#jennie img{
    margin-left: 5%;
    border: 1px solid black;
    margin-top: 1%;
}
.jennie_font{
    color: white;
    text-align: center;
    font-size: 80px;
    padding-top: 5%;

    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#jennie_info{
    width: 20%;
    float: right;
    margin-right: 5%;
    text-align: justify;
    margin-top: 3%;
    opacity: 60%;
    font-family: 'Raleway', sans-serif;
    color: white;
}
/*****************************presentation de jisoo **********************************************/

#jisoo{                   
    width: 100%;
    height: 100%;
    background-color: white;

}
#jisoo img{
    float: right;
    box-shadow: 8px 8px 0px #aaa;
    margin-right: 5%;
    margin-top: 1%;
    border: 1px solid black;
}
.jisoo_font{
    color: black;
    text-align: center;
    font-size: 80px;
    padding-top: 5%;

    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#jisoo_info{
    width: 30%;
    margin-left: 10%;
    text-align: justify;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;


}
/************************************ presentation de lisa ********************************************/

#lisa{                          
    width: 100%;
    height: 100%;
    background-color: white;

}
#lisa_info{
    width: 30%;
    margin-left: 10%;
    text-align: justify;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;   
}
.lisa_font{
    color: black;
    text-align: center;
    font-size: 80px;
    padding-top: 5%;

    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
}
#lisa img{
    float: right;
    box-shadow: 8px 8px 0px #aaa;
    margin-right: 5%;
    margin-top: 1%;
    border: 1px solid black;
}
/************************fin de la page  presentation des chanteuses****************************************************/
/************************debut la page explication de la popularite de blackpink*****************************/

#concert_really{
    background-color: #2b2b36;
    height: 100%;
    width: 100%;

}
#info_tournee2{   
    width: 30%;
    float: right;
    height: 100%;
    background: #dad9e0;
    margin-top: 0%;
}

#bp_font_info{                  /* le même pour la page reflexion */
    font-size: 23px;
    padding: 5%;
    color: black;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 2%;
}
#tournee_mondiale_fonts{       /*s'applique aussi pour la page concert*/
    font-size: 15px;
    color: black;
    text-align: justify;
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    padding: 5%;
}
#concert_really video{
    margin-left: 5%;
    margin-top: 3%;
    width:60%;
}
#titre_tournee1{
    font-size: 60px;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    color: white;
    margin-top: 3%;
}

/***************************fin de la page explication de leur succès de blakckpink*************************************/
/**************************debut de la page reflexion de blacpink*****************************************/

#concert_playing_fire{
    background-color: white;
    height: 100%;
    width: 100%;

}
#info_tournee{                  /* s'applique aussi pour la page concert */
    width: 30%;
    float: left;
    height: 100%;
    background: #dad9e0;
    margin-top: 0%;
}
#popularitebp2{
    font-size: 15px;
    color: black;
    text-align: justify;
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    padding: 5%;
}
#concert_playing_fire video{
    margin-left: 5%;
    margin-top: 3%;
    width:60%;
}
#titre_tournee2{
    margin-top: 3%;
    font-size: 60px;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    color: black;
}
/************************fin de la page reflexion  de blacpink***************************************/

/******************************************************************************************************/
/*******************FIN DE LA PAGE PRESENTATION ******************************************************/
/*****************************************************************************************************/

/*********************************************************************************************************/
/**********************DEBUT DE LA PAGE CONCERT *********************************************************/
/********************************************************************************************************/

#concerts_city{     /*partie correspondant a concert page */
    color: white;
    text-align: center;
    margin-top: 0%;
    font-size: 16px;
}
#bas_page_presentation3{    /*css pour presenter la page de jennie */
    width: 100%;
    height: 20%;
    margin-top: 6%;
    background:  #e4ddea;

}                           /* fin css de concert page */

/**************************debut  page de presentation du concert et du lieu **************************/

#date_lieu{             
    background-color: white;
    height: 100%;
    width: 100%;

}
#date_lieu video{
    margin-left: 5%;
    margin-top: 3%;
    width:60%;

}
#tournee{
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
}          

/*********************creation d'un tableau catégorie *************************************************/

#categorie{
    background-color: #2b2b36;
    height: 100%;
    width: 100%;
}
#categorie img{
    margin-top: 5%;
    float: left;
    margin-left: 5%;
}
#concert{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    color:white;
}

.concert_info{
    background-image: url("Images/bp_in_your_area.png");
    height: 100%;
    width: 100%;
    margin-top:-50%;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
table {
    border: medium solid #000000;
    width: 50%;
    float: right;
    margin-right: 2%;
    height: 50%;
    margin-top: 2%;
    }

td, th{
    border: thin solid #2b2d30;
    width: 30%;
    padding: 2px 5px;
    color: black;
    background-color: rgb(231, 233, 238);  
}
 

/*********************************fin de la page concert date et lieu ********************************************/
/**********************************debut de la page reserver **************************************************/

#reserver{
    background-color: white;
    height: 100%;
    width: 100%;
}
.reserver_billet{
    color: black;
    text-align: center;
    font-size: 70px;
    padding-top: 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
}
#reserver_fond{
    background-color: #2b2b36;
    height: 70%;
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;

}
.billet_font{
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 3%;
    text-align: center;

}
/******************************partie consacrée au différents labels************************************/

.nom_prenom label{     /* partie class pour le nom et prenom*/
    font-size: 13px;
    margin-left: 1%;
    color: white;
    margin-top: 5%;
   
}
.nom_prenom input{
    padding: 1%;
    border-radius: 10% 10% 10% 10%;
    margin-left: 1%;
    width: 30%;
    margin-top: 10%;
}
.mail label{                 /* partie class pour le mail*/
    font-size: 13px;
    margin-left: 1%;
    color: white;
}
.mail input{
    border-radius: 10% 10% 10% 10%;
    margin-left: 1%;
    width: 50%;
}
.categorie{             /*partie catégorie*/
    color: white;
    margin-top: 5%;
    text-align: center;
}
.place label{                    /* partie class pour la place*/
    font-size: 13px;
    margin-left: 1%;
    color: white;
    margin-top: 5%;
   
}
.place input{
    padding: 1%;
    border-radius: 10% 10% 10% 10%;
    margin-left: 1%;
    width: 30%;
    margin-top: 10%;
}

.bancaire label{                     /* partie class pour la carte bancaire*/
    font-size: 13px;
    margin-left: 1%;
    color: white;
    margin-top: 5%;
   
}
.bancaire input{
    padding: 1%;
    border-radius: 10% 10% 10% 10%;
    margin-left: 1%;
    width: 40%;
    margin-top: 1%;
}
.commande{                               /* partie class pour la commande */
    margin-left: 25%;
}
/********************************************************************************************************************/
/*****************************FIN DE LA PAGE CONCERT **************************************************************/
/*****************************************************************************************************************/


/**************************************************************************************************************/
/******************************DEBUT DE LA PAGE ALBUMS**********************************************************/
/**************************************************************************************************************/

#bl_album{                          /* correspond a la premiere page */
    background-color: #2b2b36;
    height: 100%;
    width: 100%;
    margin-top: -50%;

}

/********************************page de presentation des albums *********************************************/

#presentations_albums{        
    background-color: white;
    height: 100%;
    width: 100%;
}

#album_fonts{
    color: black;
    text-align: center;
    font-size: 80px;
    padding-top: 5%;

    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;

}
#select{
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}
#informations-albums{
    margin-left: 10%;
    margin-top: 3%;
}
.zoom{
    height: 40%;
    margin-left: 1%;
}
.zoom img{
    width: 300px;
    height: 225px;
}
.zoom img:hover{
    width: 400px;
    height: 300px;


}
/*************************************fin de la page presentation des albums ****************************/
/*****************************debut de la page album 1 **************************************************/

#album1{
    background-color:#2b2b36 ;
    height: 100%;
    width: 100%;

}
#SQUARE_UP_contenu{
    width: 40%;
    height: 100%;
    background: #dad9e0;
    float: right;
    margin-top: 0%;

}
.info_square{
    text-align: justify;
    margin-top: 2%;
    padding: 5%;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Gelasio', serif;
    font-family: 'PT Sans Narrow', sans-serif;
}
.font-track_list1{                          /* est pareil pour l'album 3,4*/
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Gelasio', serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    text-align: center;
}
#mon_pannier{                 /*est le même pour chaque albums*/
    text-align: center;
    padding-top: 10%;
   
}
#SQUARE_UP_font{
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 60px;
    padding-top: 4%;
    margin-left: 5%;

}
#album1 img{
    margin-left: 10%;
    margin-top: 5%;
}

#ecouter audio {                    /*est le même pour chaque albums*/
    padding-left: 15%;

}

/******************************fin de la page albums1****************************************************/
/*******************************debut de la page albums2************************************************/

#album2{
    background-color: white ;
    height: 100%;
    width: 100%;
}
#ddu_du_contenu{
    width: 40%;
    height: 100%;
    background: #dad9e0;
    float: right;
    margin-top: 0%;
    

}
.info_ddu_du{
    text-align: justify;
    margin-top: 2%;
    padding: 5%;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Gelasio', serif;
    font-family: 'PT Sans Narrow', sans-serif;
}

.font-track_list2{
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Gelasio', serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    text-align: center;
}

#ddu_du_font{
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    font-size: 60px;
    padding-top: 4%;
    margin-left: 5%;

}
#album2 img{
    margin-left: 10%;
    margin-top: 5%;
}

/******************************fin de la page albums2****************************************************/
/*******************************debut de la page albums3************************************************/

#album3{
    background-color:#2b2b36 ;
    height: 100%;
    width: 100%;
}
#BLACKPINK_contenu{
    width: 40%;
    height: 100%;
    background: #dad9e0;
    float: right;
    margin-top: 0%;
    

}
.info_blackpink{
    text-align: justify;
    margin-top: 2%;
    padding: 5%;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Gelasio', serif;
    font-family: 'PT Sans Narrow', sans-serif;
}
#BLACKPINK_font{
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 60px;
    padding-top: 4%;
    margin-left: 5%;

}
#album3 img{
    margin-left: 10%;
    margin-top: 5%;
}

/******************************fin de la page albums3****************************************************/
/*******************************debut de la page albums4************************************************/


#album4{
    background-color:white ;
    height: 100%;
    width: 100%;
}
#kill_this_love_contenu{
    width: 40%;
    height: 100%;
    background: #dad9e0;
    float: right;
    margin-top: 0%;
    

}
.info_kill_this_love{
    text-align: justify;
    margin-top: 2%;
    padding: 5%;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Gelasio', serif;
    font-family: 'PT Sans Narrow', sans-serif;
}

#kill_this_love_font{
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    font-size: 60px;
    padding-top: 4%;
    margin-left: 5%;

}
#album4 img{
    margin-left: 10%;
    margin-top: 5%;
}

/***********************************************************************************************************************/
/*******************************FIN DE LA PAGE ALBUMS************************************************************/
/***************************************************************************************************************/

/***************************************************************************************************************/
/*********************************DEBUT DE LA PAGE BOUTIQUE*****************************************************/
/***************************************************************************************************************/
#bl_album{
    background-color: #2b2b36;
    height: 100%;
    width: 100%;
    margin-top: -50%;

}
#bp_font_info{
    font-size: 23px;
    padding: 5%;
    color: black;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 2%;
}
/*****************************PAGE POUR PRODUIT NOUVEAUTE *********************************************************/

#produit_nouveaute{
    background: white;
    height: 100%;
    width: 100%;

}

#fonts_nouveaute{
    font-size: 50px;
    color: black;
    margin-top: 3%;
    text-align: center;
}
.zoom2{
    height: 40%;
    margin-left: 10%;
    margin-top: 10%;
}
.zoom2 img{
    width: 300px;
    height: 225px;
}
.zoom2 img:hover{
    width: 400px;
    height: 300px;
}
#produit1 img, #produit2 img, #produit3 img, #produit4 img{
    width: 25%;
    height: 50%;
    margin-left: 15%;
    margin-top: 10%;
}

/**********************************PAGE POUR PRODUIT1**********************************************/

#produit1{
    background-color: #2b2b36;
    height: 100%;
    width: 100%;

}
#info_produit1{                 /* pareil pour le produit3*/
    width: 40%;
    height: 100%;
    float: right;
    background: #dad9e0;
}
#produit_a_vendre{                /* pareil pour le produit 2,3,4*/
    padding: 5%;
    font-family: 'Raleway', sans-serif;
   
}
#titre_produit{                       /* pareil pour le produit 2,3,4*/
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    margin-top: 10%;
    text-align: center;
}
#prix{                               /* pareil pour le produit 2,3,4*/
    font-size: 30px;
    margin-top: 5%;
    
}
#nom_produits1{                       /* pareil pour le produit 3,4*/
    font-size: 40px;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 2%;
    text-align: center;
    

}

/*****************************PAGE POUR PRODUIT2 *********************************************************/
#produit2{
    
    height: 100%;
    width: 100%;

}
#nom_produits2{                  /* pareil pour le produit 4*/
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 2%;
    text-align: center;
    
}
#info_produit2{           
    width: 40%;
    height: 100%;
    float: left;
    background: #dad9e0;
}
/***********************PAGE POUR PRODUIT 3*****************************************************************/

#produit3{
    background-color: #2b2b36;
    height: 100%;
    width: 100%;

}
/*********************PAGE POUR PORDUIT 4*************************************************************************/

#produit4{
    height: 100%;
    width: 100%;
}
/***********************************************************************************************************************/
/*****************************FIN DE LA PAGE DE LA BOUTIQUE *****************************************************/
/**************************************************************************************************************/

/*******************************************************************************************************************/
/********************************DEBUT DE LA PAGE CONTACT *******************************************************/
/***************************************************************************************************************/

#contact{
    background-color: black;
    height: 100%;
    width: 100%;
}
#contact_design{
    margin-top: -50%;
    width: 100%;
    height: 100%;
    background-color: #2b2b36;
    background-size: 100%;

}
/***********************************debut de la partie information ****************************************/

.contact_font{
    color: black;
    text-align: center;
    font-size: 70px;
    padding-top: 3%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
}

/********************************debut des labels de la page ****************************/

form{
    margin:0;
    width: 80%;
    margin-left:10%;
    height:80%;

}
label{
    display:inline-block;
    text-align:right;
}
.nom_p label{
    font-size:13px;
    margin-left:1%;
    color:black;
    margin-top:5%;
    margin-right:15%;
}
.email label{
    font-size: 13px;
    margin-left: 1%;
    color: black;
    margin-top: 10%;
    margin-right:15%;
}

.email input{
    border-radius: 1%;
    margin-top:10%;
    width: 50%;

}



.msg label{
    font-size: 13px;
    margin-left: 1%;
    color: black;
    margin-top: 10%;
    margin-right:15%;
  
   
}
.msg textarea{
    border-radius: 1%;
    margin-top:5%;
    width: 50%;
    height:20%;
    vertical-align:top;
    font:1em sans-serif;
    box-sizing:border-box;
}


.tel input{
    border-radius: 1%;
    margin-top:5%;
    width: 50%;

}
.tel label{
    font-size: 13px;
    margin-left: 1%;
    color: black;
    margin-top: 5%;
    margin-right:14%;
}

button{
    padding-bottom:2%;
    margin-top:3%;
    margin-left:40%;
}

#contact1{
    background-color:white ;
    height: 100%;
    width: 100%;

}

/*******************************************************************************************************************/
/***************************FIN DE CONTACT **************************************************************************/
/********************************************************************************************************************/













